In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import torch
import pandas as pd
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [0]:
!unzip -uq "/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines.zip" -d "/content/drive/My Drive/Colab Notebooks/AutoEncoders based recommendation system"

In [0]:
# importing datasets

movies=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines/ml-1m/movies.dat',sep='::',header=None, engine='python',encoding='latin-1')
users=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines/ml-1m/users.dat',sep='::',header=None, engine='python',encoding='latin-1')
ratings=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines/ml-1m/ratings.dat',sep='::',header=None, engine='python',encoding='latin-1')

In [5]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [6]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [7]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [0]:
train_set=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines/ml-100k/u1.base', delimiter='\t')
train_set=np.array(train_set, dtype='int')
test_set=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Boltzmann Machine/Boltzmann_Machines/ml-100k/u1.test', delimiter='\t')
test_set=np.array(test_set,dtype='int')

In [9]:
train_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [10]:
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

In [0]:
nb_users=int(max(max(train_set[:,0]),max(test_set[:,0])))
nb_movies=int(max(max(train_set[:,1]),max(test_set[:,1])))

In [12]:
nb_users

943

In [13]:
nb_movies

1682

In [0]:
def convert(data):
  new_data=[]
  for id_users in range(1,nb_users+1):
    id_movies=data[:,1][data[:,0]==id_users]
    id_ratings=data[:,2][data[:,0]==id_users]
    ratings=np.zeros(nb_movies)
    ratings[id_movies-1]=id_ratings
    new_data.append(list(ratings))
  return new_data

In [0]:
train_set=convert(train_set)

In [0]:
test_set=convert(test_set)

In [17]:
np.shape(train_set)

(943, 1682)

In [18]:
np.shape(test_set)

(943, 1682)

In [0]:
train_set=torch.FloatTensor(train_set)
test_set=torch.FloatTensor(test_set)

In [20]:
train_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [21]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [0]:
# neural network architecture creation

class StackAutoEncoder(nn.Module):
  def __init__(self,):
    super(StackAutoEncoder, self).__init__()
    self.fullconn1=nn.Linear(nb_movies,20)  #start full connection, nb_movies: input neurons, 20: hidden layer and output of nb_movies
    self.fullconn2=nn.Linear(20,10)
    self.fullconn3=nn.Linear(10,20)
    self.fullconn4=nn.Linear(20,nb_movies)  
    self.activation=nn.Sigmoid()

  def forward(self,x):
    x=self.activation(self.fullconn1(x))
    x=self.activation(self.fullconn2(x))
    x=self.activation(self.fullconn3(x))
    x=(self.fullconn4(x))
    return x
sae=StackAutoEncoder()
loss_fun=nn.MSELoss()  #defining the loss function(mean squared error)
optimizer=optim.RMSprop(sae.parameters(), lr=0.01, weight_decay=0.5)

In [39]:
# training the model

nb_epoch=250
for i in range (1,nb_epoch+1):
  train_loss=0
  s=0.
  for id_users in range(nb_users):
    input=Variable(train_set[id_users]).unsqueeze(0)  # adding additional dimension at index pos 0 after the train_set
    target=input.clone()  # input and target dims are same
    if torch.sum(target.data>0)>0 : # atleast one movie has been rated
       output=sae(input)
       target.require_grad=False # no optimizers are used at the target end
       output[target==0]=0
       loss=loss_fun(target, output)
       mean_corrector=nb_movies/float(torch.sum(target.data>0)+1e-10)
       loss.backward()  # back propagation
       train_loss+=np.sqrt(loss.data*mean_corrector)
       s+=1.
       optimizer.step()  
    
  print("Epoch: "+str(i)+ " Loss: "+str(train_loss/s))

Epoch: 1 Loss: tensor(1.7656)
Epoch: 2 Loss: tensor(1.0965)
Epoch: 3 Loss: tensor(1.0533)
Epoch: 4 Loss: tensor(1.0383)
Epoch: 5 Loss: tensor(1.0309)
Epoch: 6 Loss: tensor(1.0266)
Epoch: 7 Loss: tensor(1.0239)
Epoch: 8 Loss: tensor(1.0219)
Epoch: 9 Loss: tensor(1.0210)
Epoch: 10 Loss: tensor(1.0195)
Epoch: 11 Loss: tensor(1.0192)
Epoch: 12 Loss: tensor(1.0183)
Epoch: 13 Loss: tensor(1.0178)
Epoch: 14 Loss: tensor(1.0174)
Epoch: 15 Loss: tensor(1.0172)
Epoch: 16 Loss: tensor(1.0169)
Epoch: 17 Loss: tensor(1.0167)
Epoch: 18 Loss: tensor(1.0165)
Epoch: 19 Loss: tensor(1.0164)
Epoch: 20 Loss: tensor(1.0164)
Epoch: 21 Loss: tensor(1.0158)
Epoch: 22 Loss: tensor(1.0160)
Epoch: 23 Loss: tensor(1.0158)
Epoch: 24 Loss: tensor(1.0160)
Epoch: 25 Loss: tensor(1.0155)
Epoch: 26 Loss: tensor(1.0158)
Epoch: 27 Loss: tensor(1.0154)
Epoch: 28 Loss: tensor(1.0153)
Epoch: 29 Loss: tensor(1.0130)
Epoch: 30 Loss: tensor(1.0114)
Epoch: 31 Loss: tensor(1.0103)
Epoch: 32 Loss: tensor(1.0080)
Epoch: 33 Loss: tensor(1.0075)
Epoch: 34 Loss: tensor(1.0044)
Epoch: 35 Loss: tensor(1.0036)
Epoch: 36 Loss: tensor(1.0011)
Epoch: 37 Loss: tensor(1.0002)
Epoch: 38 Loss: tensor(0.9972)
Epoch: 39 Loss: tensor(0.9958)
Epoch: 40 Loss: tensor(0.9930)
Epoch: 41 Loss: tensor(0.9938)
Epoch: 42 Loss: tensor(0.9914)
Epoch: 43 Loss: tensor(0.9875)
Epoch: 44 Loss: tensor(0.9870)
Epoch: 45 Loss: tensor(0.9858)
Epoch: 46 Loss: tensor(0.9841)
Epoch: 47 Loss: tensor(0.9847)
Epoch: 48 Loss: tensor(0.9821)
Epoch: 49 Loss: tensor(0.9799)
Epoch: 50 Loss: tensor(0.9754)
Epoch: 51 Loss: tensor(0.9737)
Epoch: 52 Loss: tensor(0.9737)
Epoch: 53 Loss: tensor(0.9730)
Epoch: 54 Loss: tensor(0.9732)
Epoch: 55 Loss: tensor(0.9688)
Epoch: 56 Loss: tensor(0.9661)
Epoch: 57 Loss: tensor(0.9660)
Epoch: 58 Loss: tensor(0.9627)
Epoch: 59 Loss: tensor(0.9625)
Epoch: 60 Loss: tensor(0.9613)
Epoch: 61 Loss: tensor(0.9624)
Epoch: 62 Loss: tensor(0.9605)
Epoch: 63 Loss: tensor(0.9608)
Epoch: 64 Loss: tensor(0.9598)
Epoch: 65 Loss: tensor(0.9593)
Epoch: 66 Loss: tensor(0.9568)
Epoch: 67 Loss: tensor(0.9549)
Epoch: 68 Loss: tensor(0.9521)
Epoch: 69 Loss: tensor(0.9528)
Epoch: 70 Loss: tensor(0.9493)
Epoch: 71 Loss: tensor(0.9500)
Epoch: 72 Loss: tensor(0.9474)
Epoch: 73 Loss: tensor(0.9487)
Epoch: 74 Loss: tensor(0.9461)
Epoch: 75 Loss: tensor(0.9474)
Epoch: 76 Loss: tensor(0.9445)
Epoch: 77 Loss: tensor(0.9458)
Epoch: 78 Loss: tensor(0.9429)
Epoch: 79 Loss: tensor(0.9439)
Epoch: 80 Loss: tensor(0.9413)
Epoch: 81 Loss: tensor(0.9428)
Epoch: 82 Loss: tensor(0.9400)
Epoch: 83 Loss: tensor(0.9420)
Epoch: 84 Loss: tensor(0.9387)
Epoch: 85 Loss: tensor(0.9409)
Epoch: 86 Loss: tensor(0.9376)
Epoch: 87 Loss: tensor(0.9393)
Epoch: 88 Loss: tensor(0.9369)
Epoch: 89 Loss: tensor(0.9384)
Epoch: 90 Loss: tensor(0.9360)
Epoch: 91 Loss: tensor(0.9376)
Epoch: 92 Loss: tensor(0.9351)
Epoch: 93 Loss: tensor(0.9366)
Epoch: 94 Loss: tensor(0.9343)
Epoch: 95 Loss: tensor(0.9354)
Epoch: 96 Loss: tensor(0.9337)
Epoch: 97 Loss: tensor(0.9348)
Epoch: 98 Loss: tensor(0.9324)
Epoch: 99 Loss: tensor(0.9338)
Epoch: 100 Loss: tensor(0.9316)
Epoch: 101 Loss: tensor(0.9331)
Epoch: 102 Loss: tensor(0.9310)
Epoch: 103 Loss: tensor(0.9321)
Epoch: 104 Loss: tensor(0.9302)
Epoch: 105 Loss: tensor(0.9315)
Epoch: 106 Loss: tensor(0.9296)
Epoch: 107 Loss: tensor(0.9304)
Epoch: 108 Loss: tensor(0.9285)
Epoch: 109 Loss: tensor(0.9292)
Epoch: 110 Loss: tensor(0.9276)
Epoch: 111 Loss: tensor(0.9290)
Epoch: 112 Loss: tensor(0.9271)
Epoch: 113 Loss: tensor(0.9281)
Epoch: 114 Loss: tensor(0.9266)
Epoch: 115 Loss: tensor(0.9274)
Epoch: 116 Loss: tensor(0.9261)
Epoch: 117 Loss: tensor(0.9270)
Epoch: 118 Loss: tensor(0.9255)
Epoch: 119 Loss: tensor(0.9285)
Epoch: 120 Loss: tensor(0.9287)
Epoch: 121 Loss: tensor(0.9283)
Epoch: 122 Loss: tensor(0.9269)
Epoch: 123 Loss: tensor(0.9280)
Epoch: 124 Loss: tensor(0.9262)
Epoch: 125 Loss: tensor(0.9270)
Epoch: 126 Loss: tensor(0.9248)
Epoch: 127 Loss: tensor(0.9258)
Epoch: 128 Loss: tensor(0.9239)
Epoch: 129 Loss: tensor(0.9251)
Epoch: 130 Loss: tensor(0.9232)
Epoch: 131 Loss: tensor(0.9243)
Epoch: 132 Loss: tensor(0.9231)
Epoch: 133 Loss: tensor(0.9241)
Epoch: 134 Loss: tensor(0.9220)
Epoch: 135 Loss: tensor(0.9241)
Epoch: 136 Loss: tensor(0.9219)
Epoch: 137 Loss: tensor(0.9224)
Epoch: 138 Loss: tensor(0.9213)
Epoch: 139 Loss: tensor(0.9221)
Epoch: 140 Loss: tensor(0.9207)
Epoch: 141 Loss: tensor(0.9216)
Epoch: 142 Loss: tensor(0.9199)
Epoch: 143 Loss: tensor(0.9207)
Epoch: 144 Loss: tensor(0.9199)
Epoch: 145 Loss: tensor(0.9201)
Epoch: 146 Loss: tensor(0.9190)
Epoch: 147 Loss: tensor(0.9209)
Epoch: 148 Loss: tensor(0.9200)
Epoch: 149 Loss: tensor(0.9196)
Epoch: 150 Loss: tensor(0.9191)
Epoch: 151 Loss: tensor(0.9188)
Epoch: 152 Loss: tensor(0.9182)
Epoch: 153 Loss: tensor(0.9181)
Epoch: 154 Loss: tensor(0.9180)
Epoch: 155 Loss: tensor(0.9180)
Epoch: 156 Loss: tensor(0.9175)
Epoch: 157 Loss: tensor(0.9177)
Epoch: 158 Loss: tensor(0.9172)
Epoch: 159 Loss: tensor(0.9173)
Epoch: 160 Loss: tensor(0.9167)
Epoch: 161 Loss: tensor(0.9170)
Epoch: 162 Loss: tensor(0.9163)
Epoch: 163 Loss: tensor(0.9165)
Epoch: 164 Loss: tensor(0.9159)
Epoch: 165 Loss: tensor(0.9162)
Epoch: 166 Loss: tensor(0.9159)
Epoch: 167 Loss: tensor(0.9161)
Epoch: 168 Loss: tensor(0.9154)
Epoch: 169 Loss: tensor(0.9158)
Epoch: 170 Loss: tensor(0.9152)
Epoch: 171 Loss: tensor(0.9155)
Epoch: 172 Loss: tensor(0.9148)
Epoch: 173 Loss: tensor(0.9148)
Epoch: 174 Loss: tensor(0.9144)
Epoch: 175 Loss: tensor(0.9147)
Epoch: 176 Loss: tensor(0.9143)
Epoch: 177 Loss: tensor(0.9143)
Epoch: 178 Loss: tensor(0.9139)
Epoch: 179 Loss: tensor(0.9141)
Epoch: 180 Loss: tensor(0.9136)
Epoch: 181 Loss: tensor(0.9138)
Epoch: 182 Loss: tensor(0.9136)
Epoch: 183 Loss: tensor(0.9136)
Epoch: 184 Loss: tensor(0.9134)
Epoch: 185 Loss: tensor(0.9136)
Epoch: 186 Loss: tensor(0.9132)
Epoch: 187 Loss: tensor(0.9130)
Epoch: 188 Loss: tensor(0.9128)
Epoch: 189 Loss: tensor(0.9126)
Epoch: 190 Loss: tensor(0.9124)
Epoch: 191 Loss: tensor(0.9125)
Epoch: 192 Loss: tensor(0.9123)
Epoch: 193 Loss: tensor(0.9122)
Epoch: 194 Loss: tensor(0.9118)
Epoch: 195 Loss: tensor(0.9119)
Epoch: 196 Loss: tensor(0.9116)
Epoch: 197 Loss: tensor(0.9116)
Epoch: 198 Loss: tensor(0.9117)
Epoch: 199 Loss: tensor(0.9115)
Epoch: 200 Loss: tensor(0.9113)
Epoch: 201 Loss: tensor(0.9113)
Epoch: 202 Loss: tensor(0.9111)
Epoch: 203 Loss: tensor(0.9108)
Epoch: 204 Loss: tensor(0.9107)
Epoch: 205 Loss: tensor(0.9106)
Epoch: 206 Loss: tensor(0.9104)
Epoch: 207 Loss: tensor(0.9105)
Epoch: 208 Loss: tensor(0.9104)
Epoch: 209 Loss: tensor(0.9099)
Epoch: 210 Loss: tensor(0.9096)
Epoch: 211 Loss: tensor(0.9092)
Epoch: 212 Loss: tensor(0.9089)
Epoch: 213 Loss: tensor(0.9089)
Epoch: 214 Loss: tensor(0.9086)
Epoch: 215 Loss: tensor(0.9086)
Epoch: 216 Loss: tensor(0.9082)
Epoch: 217 Loss: tensor(0.9079)
Epoch: 218 Loss: tensor(0.9074)
Epoch: 219 Loss: tensor(0.9073)
Epoch: 220 Loss: tensor(0.9069)
Epoch: 221 Loss: tensor(0.9066)
Epoch: 222 Loss: tensor(0.9084)
Epoch: 223 Loss: tensor(0.9058)
Epoch: 224 Loss: tensor(0.9054)
Epoch: 225 Loss: tensor(0.9048)
Epoch: 226 Loss: tensor(0.9047)
Epoch: 227 Loss: tensor(0.9039)
Epoch: 228 Loss: tensor(0.9033)
Epoch: 229 Loss: tensor(0.9024)
Epoch: 230 Loss: tensor(0.9018)
Epoch: 231 Loss: tensor(0.9013)
Epoch: 232 Loss: tensor(0.8999)
Epoch: 233 Loss: tensor(0.8997)
Epoch: 234 Loss: tensor(0.8986)
Epoch: 235 Loss: tensor(0.8983)
Epoch: 236 Loss: tensor(0.8967)
Epoch: 237 Loss: tensor(0.8966)
Epoch: 238 Loss: tensor(0.8953)
Epoch: 239 Loss: tensor(0.8954)
Epoch: 240 Loss: tensor(0.8942)
Epoch: 241 Loss: tensor(0.8941)
Epoch: 242 Loss: tensor(0.8923)
Epoch: 243 Loss: tensor(0.8921)
Epoch: 244 Loss: tensor(0.8912)
Epoch: 245 Loss: tensor(0.8908)
Epoch: 246 Loss: tensor(0.8891)
Epoch: 247 Loss: tensor(0.8889)
Epoch: 248 Loss: tensor(0.8880)
Epoch: 249 Loss: tensor(0.8875)
Epoch: 250 Loss: tensor(0.8869)

In [44]:
test_loss=0 # testing model
s=0.
for id_users in range(nb_users):
    input=Variable(train_set[id_users]).unsqueeze(0)  # adding additional dimension at index pos 0 after the train_set
    target=input.clone()  # input and target dims are same
    if torch.sum(target.data>0)>0 : # atleast one movie has been rated
       output=sae(input)
       target.require_grad=False # no optimizers are used at the target end
       output[target==0]=0
       loss=loss_fun(target, output)
       mean_corrector=nb_movies/float(torch.sum(target.data>0)+1e-10)
       test_loss+=np.sqrt(loss.data*mean_corrector)
       s+=1.
       optimizer.step()  
    
print("Test_Loss: "+str(test_loss/s))

Test_Loss: tensor(0.8896)